.shiftlist-week-flex-div {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
  }
  
  .shiftlist-day-div {
    align-items: center;
  }
  
  .date-div {
    background-color: #f0f0f0;
    border: solid 1px gray;
    padding: 5px;
    text-align: center;
  }

  .h-three {
    text-align: center;
  }
  
  .cashier-div {
    background-color: rgb(60, 194, 60);
    border: 1px solid lightgray;
    height: 25px;
    width: 160px;

  }
  
  .attendee-div {
    /* Removed flex and border properties */
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin-right: 10px;
    height: 25px;
    width: 160px;
  }
  
  p {
    margin: 0;
    /* Align the text to the left */
    text-align: left;
  }

  .p-cashier {
    font-weight: 500;
  }